<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="log_path">c:/logs</Property>
    </Properties>

    <Appenders>
        <File name="QueriesFile" fileName="${log_path}/OptimusPrime_queries.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        <File name="ErrorFile" fileName="${log_path}/OptimusPrime_errors.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="no.wact.jenjon13.PrimeServlet" additivity="true" level="debug">
            <AppenderRef level="debug" ref="QueriesFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef level="error" ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>
