<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Optimus Prime</display-name>
    <servlet>
        <servlet-name>primeservlet</servlet-name>
        <servlet-class>
            no.wact.jenjon13.PrimeServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>primeservlet</servlet-name>
        <url-pattern>/primeservlet</url-pattern>
    </servlet-mapping>
</web-app>
